{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Pegi</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Promotion</th>
                <th>Platform</th>
                <th>Image</th>
                <th>Release_date</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.content }}</td>
                <td>{{ game.pegi }}</td>
                <td>{{ game.genre }}</td>
                <td>{{ game.price }}</td>
                <td>{{ game.promotion }}</td>
                <td>{{ game.platform }}</td>
                <td>{{ game.image }}</td>
                <td>{{ game.releaseDate ? game.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ game.createdAt ? game.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.updatedAt ? game.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_new') }}">Create new</a>
{% endblock %}
