{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="hero-scene">
        <div class="text-center hero-scene-content secondary">
            <h1>Mon Panier</h1>
        </div>
    </div>
    <div class="text-center">
        <a href="{{ path('app_history') }}" class="btn btn-primary m-3">Voir l'historique des commandes</a>
    </div>
    {% for order in orders %}
        {% if order is empty %}
            <p>Votre panier est vide.</p>
        {% else %}
            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <div class="basket-info mb-3">
                        <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                            <p><strong>Jeu :</strong> {{ order.game.title }}</p>
                            <div class='text-center justify-content-center'>
                                <form method="post" action="{{ path('app_update_quantity', {'id': order.id}) }}">
                                    <div class="form-group">
                                        <p><strong>Quantité :</strong><input type="number" id="quantity" name="quantity" min="1" max="{{ quantities[order.game.id] ?? 1 }}" value="1" class="form-control"></p>
                                        <button type="submit" class="btn btn-secondary">Mettre à jour</button>
                                    </div>
                                </form>  
                            </div>
                            {% if order.game.promotion %}
                                <p><strong>Prix :</strong> {{ order.game.promotion }}€</p>
                            {% else %}
                                <p><strong>Prix :</strong> {{ order.game.price }}€</p>
                            {% endif %}                            
                            <p><strong>Date de retrait :</strong> {{ order.pickupDate|date('d-m-Y') }}</p>
                            <form method="post" action="{{ path('app_remove_from_basket', {'id': order.id}) }}">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="basket-info mb-3">
                    <div class="text-center justify-content-center">
                        <p><strong>Prix total :</strong>{{ totalPrice }}€</p>
                        <p><strong>Magasin de retrait :</strong> {{ storeName }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-center'>
            <form method='post' action='{{ path('app_validate_basket')}}'>
                <button type='submit' class='btn btn-primary'>Valider le panier</button>
            </form>
        </div>
{% endblock %}