{# templates/user/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="hero-scene">
        <div class="text-center hero-scene-content text-purple">
            <h1>Mon Profil</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="profile-info mb-3">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <span><strong>Prénom :</strong> {{ user.firstname }}</span>
                    <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editFirstnameModal"></i>
                </div>
            </div>
            <div class="profile-info mb-3">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <span><strong>Nom :</strong> {{ user.lastname }}</span>
                    <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editLastnameModal"></i>
                </div>
            </div>
            <div class="profile-info mb-3">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <span><strong>Date d'anniversaire :</strong> {{ user.birthdate | date('d/m/Y') }}</span>
                    <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editBirthdateModal"></i>
                </div>
            </div>
            <div class="profile-info mb-3">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <span><strong>Email :</strong> {{ user.email }}</span>
                    <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editEmailModal"></i>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="profile-info mb-3">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                    <span><strong>Role :</strong> {{ user.roles ? user.roles|json_encode : '' }}</span>
                    <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#editRoleModal"></i>
                </div>
            </div>
            {% endif %}
            <div class="mb-3 text-center">
                <a href="{{ path('app_user_change_password') }}" class="btn btn-danger">Changer le mot de passe</a>
            </div>
        </div>
    </div>

    {# Modals pour l'édition des informations #}
    <div class="modal fade" id="editFirstnameModal" tabindex="-1" aria-labelledby="editFirstnameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editFirstnameModalLabel">Modifier le prénom</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.firstname }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editLastnameModal" tabindex="-1" aria-labelledby="editLastnameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLastnameModalLabel">Modifier le nom</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.lastname }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editBirthdateModal" tabindex="-1" aria-labelledby="editBirthdateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editBirthdateModalLabel">Modifier la date d'anniversaire</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="birthdate" class="form-label">Date d'anniversaire</label>
                            <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{ user.birthdate|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editEmailModal" tabindex="-1" aria-labelledby="editEmailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEmailModalLabel">Modifier l'email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ path('app_user_edit', {'id': user.id}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRoleModalLabel">Modifier le rôle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="roles" class="form-label">Rôles</label>
                            <select class="form-control" id="roles" name="roles[]" multiple>
                                <option value="ROLE_USER" {% if 'ROLE_USER' in user.roles %}selected{% endif %}>Utilisateur</option>
                                <option value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %}selected{% endif %}>Administrateur</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
